config.inc.php
.buildpath
.project
.settings
*.orig
/cache/*
/.classpath
/public/about/*
/plugins/themes/hrp/images/banner.png
/plugins/themes/hrp/images/footer.png
/lib/pkp/locale/*/areasOfTheCountry.xml
