config.inc.php
.buildpath
.project
.settings
*.orig
/cache/*
/.classpath
/public/about/*
/public/site/images/*
/plugins/themes/hrp/images/banner.png
/plugins/themes/hrp/images/footer.png
/plugins/themes/hrp/hrp.css
/lib/pkp/locale/*/areasOfTheCountry.xml
/lib/pkp/locale/*/researchFields.xml
/classes/lib/libchart/images/*
!/classes/lib/libchart/images/PoweredBy.png
